<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-maikebing" value="https://nuget.pkg.github.com/maikebing/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github-maikebing>
      <add key="Username" value="%OMNIHOST_PACKAGES_USERNAME%" />
      <add key="ClearTextPassword" value="%OMNIHOST_PACKAGES_TOKEN%" />
    </github-maikebing>
  </packageSourceCredentials>
</configuration>
